:root {
    --content-bgcolor: #dce2f3;
    --content-color: #35355f;
    --content-font-family: "Josefin Sans";
    --heading-color: #1b285d;
    --heading-font-family: "Andada Pro";
    --gap-std: 20px;
    --border-rad-std: 20px;
    --padding-std: 20px;
    

}


#logo { 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4858af;
    border-top-right-radius: var(--border-rad-std);
    border-top-left-radius: var(--border-rad-std);
}
   
#logo > img {
    width: fit-content;
    
}

nav {
    
    background-color: #404168;
    display: flex;
    justify-content: center;
    gap: var(--gap-std);
    padding: var(--padding-std);
    border-bottom-right-radius: var(--border-rad-std);
    border-bottom-left-radius: var(--border-rad-std);
}

nav > a {
    font-family: var(--heading-font-family);
    font-size: 120%;
    font-weight: bold;
    color: #d0d4e2;
    
}

h1{
    font-family: var(--heading-font-family);
    font-size: 2.5rem;
    color: var(--heading-color);

}

h2, th {
    font-size: 1.95rem;
    font-family: var(--heading-font-family);
    color: var(--heading-color);
    
}

h3 {
    font-size: 1.7rem;
    font-family: var(--heading-font-family);
    color: #1b285d;
}

p,li,td, #copyright {
    font-family: var(--content-font-family);
    font-size: 1.7rem;
    color:var(--content-color);
}

body {
    background-color: #6a6a97;
    
}

main {
    margin-top: 3%;
	margin-bottom: 3%;
    border-radius: var(--border-rad-std);
    background-color: var(--content-bgcolor);
    padding: var(--padding-std);

}

/* Projects */
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}

.project-card {
    background-color: #f9f9f9;
    padding: 1.5rem;
    border-radius: 4px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.project-card h3 {
    margin-top: 0;
    margin-bottom: 0.75rem;
}

.project-card p {
    margin-bottom: 0;
    font-size: 0.95rem;
}


#links {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--gap-std);
}

footer {
    justify-content: center;
    align-items: center;
	display: flex;
    flex-direction: column;
	padding: var(--padding-std);
	margin-top: 3%;
	margin-bottom: 3%;
    background-color: var(--content-bgcolor);
	border-radius: var(--border-rad-std);
}

#copyright {
    padding-top:var(--padding-std);
}

a:hover {
    color:rgb(162, 97, 236);
}

a:active {
    background-color:rgb(182, 171, 230);
}
